<div class="search-form">
    <div class="input-group">
        <input type="text" class="form-control search-input" placeholder="room number" aria-label="Search"
            aria-describedby="basic-addon2" [(ngModel)]="workRoomNumber">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary search-submit" type="button"
                (click)="search()"><mat-icon>search</mat-icon></button>
        </div>
    </div>
</div>
<ng-template [ngIf]="jwtService.isAdmin() || jwtService.isModerator()">
    <button mat-stroked-button (click)="addNewWorkRoom()" class="add-new-room-btn">Add new WorkRoom</button>
</ng-template>
<div class="mat-elevation-z8" style="margin-top: 10px;">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Room name</th>
            <td mat-cell *matCellDef="let place">
                <a [routerLink]="['/place', place.id]" routerLinkActive="router-link-active">
                    <img src="../../../assets/place_img.png" width="50px" height="50px" class="place_img">
                    {{place.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef> Room number </th>
            <td mat-cell *matCellDef="let place"> {{place.roomNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef> Division </th>
            <td mat-cell *matCellDef="let place"> {{place.division}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of employees">
    </mat-paginator>
</div>