.place-item {
    width: 100%;
    height: 80px;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
}

.place_img {
    border-radius: 50px;
    margin: 5px;
}

table {
    width: 100%;
}

.search-input {
    height: 40px;
}

.search-submit {
    height: 40px;
}

.search-form {
    width: 300px;
}

.add-new-room-btn{
    margin: 10px 0px 10px 0px;
}