<div style="display: flex;">
    <div class="user_photo_block"><img src="../../../assets/user.jpg" class="profile_photo"></div>
    <div class="text_info">
        <p class="emp_name">Shvayukou Herman</p>
        <div class="personal_info_block">
            <div class="personal_info_item">
                <mat-icon class="info_icon">work</mat-icon>
                <div>
                    <p class="info_title">Creating Date</p>
                    <p class="info_def">{{pass?.creatingDate | date}}</p>
                </div>
            </div>
            <div class="personal_info_item">
                <mat-icon class="info_icon">work</mat-icon>
                <div>
                    <p class="info_title">Expired Date</p>
                    <p class="info_def">{{pass?.expiredDate | date}}</p>
                </div>
            </div>
            <div class="personal_info_item">
                <mat-icon class="info_icon">work</mat-icon>
                <div>
                    <p class="info_title">Blocked</p>
                    <p class="info_def">{{pass?.isBlocked ? "Yes" : "No"}}</p>
                </div>
            </div>
            <div class="personal_info_item">
                <mat-icon class="info_icon">work</mat-icon>
                <div>
                    <p class="info_title">Approve by</p>
                    <p class="info_def">{{pass?.approvedBy}}</p>
                </div>
            </div>
            <div class="personal_info_item">
                <mat-icon class="info_icon">work</mat-icon>
                <div>
                    <p class="info_title">Pass Id</p>
                    <p class="info_def">{{pass?.id}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="margin-bottom: 10px;">Accessiable rooms: </p>
<search-panel [filterList]="filterList" [placeholderStr]="placeholderStr"></search-panel>
<div class="mat-elevation-z8" style="margin-top: 10px;">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Room name</th>
            <td mat-cell *matCellDef="let place">
                <img src="../../../assets/place_img.png" width="50px" height="50px" class="place_img">
                {{place.roomName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef> Room number </th>
            <td mat-cell *matCellDef="let place"> {{place.roomNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef> Division </th>
            <td mat-cell *matCellDef="let place"> {{place.division}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of employees">
    </mat-paginator>
</div>