<header>
    <div class="header_container">
        <div class="logo">
            <p>Access control</p>
        </div>
        <div class="user_block">
            <form>
                <input matInput placeholder="search" type="search" class="search_user">
                <button type="submit">Search</button>
            </form>
            <div class="user_info">
                <img src="../../../assets/notify_icon.png" alt="" class="notification_icon" width="25px" height="25px">
                <div class="user_photo">
                    <img src="../../../assets/user.jpg" width="30px" height="30px" style="border-radius: 100px;">
                </div>
                <div class="user_text_info">
                    <p class="user_name">Shvayukou Herman</p>
                    <p class="user_job_title">.NET Developer</p>
                </div>
                <div class="symbol_up">
                    <span>&or;</span>
                </div>
            </div>
        </div>
    </div>
</header>