.work-info-form {
    display: flex;
    width: 750px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-info-input {
    width: 350px;
    font-size: 18px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-left: auto;
}

.btn-next{
    margin-left: 180px;
    width: 80px;
}