<form>
    <div class="emp-info-form">
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Hiring date</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Probation status</mat-label>
                <mat-select multiple>
                    <mat-option>First</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Probation end date</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Exp in company</mat-label>
                <input matInput type="date" disabled>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Contract status</mat-label>
                <mat-select multiple>
                    <mat-option>First</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Contract start date</mat-label>
                <input matInput type="date">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Type of work</mat-label>
                <mat-select multiple>
                    <mat-option>First</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Contract end date</mat-label>
                <input matInput type="date">
            </mat-form-field>
        </div>
    </div>
    <div class="form-buttons">
        <button type="button" class="btn btn-light">Cancel</button>
        <button type="submit" class="btn btn-danger">Save changes</button>
    </div>
</form>