<form>
    <div class="emp-info-form">
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Mobile phone</mat-label>
                <input matInput name="mobilePhone" [(ngModel)]="mobilePhone">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="email">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Workspace</mat-label>
                <input matInput name="workSpace" [(ngModel)]="workSpace">
            </mat-form-field>
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn btn-danger" (click)="submit()" *ngIf="employeeId!==0">Save</button>
        <button type="submit" class="btn btn-danger btn-create" (click)="submit()" *ngIf="employeeId==0">Create</button>
    </div>
</form>