<form>
    <div class="photo-input-block">
        <label for="photo" class="upload-photo"><img [src]="imgSrc" width="100px" height="100px"></label>
        <div class="photo-input">
            <label for="photo" class="upload-photo">Upload photo</label>
            <input type="file" id="photo" hidden (change)="onChangeFile($event)">
            <p>JPG,JPEG,PNG no more than 5mb</p>
        </div>
    </div>
    <div class="emp-info-form">
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>First Name</mat-label>
                <input matInput name="firstName" [(ngModel)]="firstName">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Last Name</mat-label>
                <input matInput name="lastName" [(ngModel)]="lastName">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Job Title</mat-label>
                <mat-select name="jobTitle" [(ngModel)]="jobTitle">
                    <mat-option value="Developer">Developer</mat-option>
                    <mat-option value="QA">QA</mat-option>
                    <mat-option value="BA">BA</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Division</mat-label>
                <input matInput name="division" [(ngModel)]="division">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Prof. level</mat-label>
                <mat-select name="professionalLevel" [(ngModel)]="professionalLevel">
                    <mat-option value= "Junior">Junior</mat-option>
                    <mat-option value= "Middle">Middle</mat-option>
                    <mat-option value= "Senior">Senior</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Location</mat-label>
                <input matInput name="location" [(ngModel)]="location">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>Address</mat-label>
                <input matInput name="address" [(ngModel)]="address">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="emp-info-input">
                <mat-label>English level</mat-label>
                <mat-select name="englishLevel" [(ngModel)]="englishLevel">
                    <mat-option value="A2">A2</mat-option>
                    <mat-option value="B1">B1</mat-option>
                    <mat-option value="B2">B2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-buttons">
        <button type="button" class="btn btn-danger" (click) = "submit()">Save</button>
    </div>
</form>