<h1 mat-dialog-title class="form-title">Edit workroom</h1>
<div mat-dialog-content>
    <form class="request-form">
        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name"/>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Room number</mat-label>
            <input matInput name="roomNumber" [(ngModel)]="roomNumber"/>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Division</mat-label>
            <input matInput name="division" [(ngModel)]="division"/>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Floor</mat-label>
            <input matInput name="floor" [(ngModel)]="floor"/>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
</div>